<!-- Banner -->
<section class="banner {{ .style }}">
    <div class="content">
        {{ with .title }}<h1>{{ . }}</h1>{{ end }}
        {{ with .subtitle }}<p class="major">{{ . | safeHTML }}</p>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ with .buttons }}<ul class="actions">
            {{ with .primary }}
            <li><a href="{{ .link }}" class="button primary large wide smooth-scroll-middle">{{ .label }}</a></li>
            {{ end }}
            {{ with .secondary }}
            <li><a href="{{ .link }}" class="button secondary large wide smooth-scroll-middle">{{ .label }}</a></li>
            {{ end }}
        </ul>{{ end }}
        <p>
            <ul class="icons">
                <li><a target="_blank" href="https://github.com/flowkeeper-org/fk-desktop" class="icon brands style2 fa-github"><span class="label">Github</span></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/company/flowkeeper-org" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a target="_blank" href="https://discord.gg/SJfrsvgfmf" class="icon brands style2 fa-discord"><span class="label">Discord</span></a></li>
                <li><a target="_blank" href="https://www.reddit.com/r/Flowkeeper/" class="icon brands style2 fa-reddit"><span class="label">Reddit</span></a></li>
                <li><a target="_blank" href="https://t.me/flowkeeper_org" class="icon brands style2 fa-telegram"><span class="label">Telegram</span></a></li>
                <li><a target="_blank" href="mailto:contact@flowkeeper.org" class="fav icon style2 fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </p>
    </div>
    {{ with .image }}<div class="image">
        <img src="{{.}}" alt="Flowkeeper" />
    </div>{{end}}
</section>
