<!-- Newsletter form -->
<section class="wrapper style1 align-center" id="mailingform">
    <div class="inner">
        <h2>Flowkeeper Newsletter</h2>
        <p>Get Flowkeeper updates and Pomodoro productivity tips in your mailbox. We send one email about every two months.</p>
        <div class="align-left">
            <form action="https://app.keila.io/forms/nfrm_LPRGWARj" method="post">
                <div class="fields">
                    <div class="field half">
                        <label for="contact_email">Email</label>
                        <input type="email" name="contact[email]" id="contact_email" value="">
                    </div>

                    <div class="field">
                        <input aria-hidden="true" autocomplete="off" name="h[url]" novalidate="novalidate"
                               style="display: none"/>
                        <div>
                            <div class="h-captcha" data-sitekey="a1c5fab7-71df-4ea4-af75-87a3d07c61de"></div>
                            <script async="async" defer="defer" src="https://hcaptcha.com/1/api.js"></script>
                        </div>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" name="submit" id="submit" class="primary" value="Subscribe"></li>
                </ul>
            </form>
        </div>
    </div>
</section>
