<!-- Downloads for an OS -->
    <section>
        <header>
            <h3>{{ .os }}</h3>
            <h5 style="margin-right: 25px">{{ .intro }}</h5>
        </header>
        <div class="content">
            <ul class="alt">
            {{ range .files }}
                <li>
                {{ if eq .type "link" }}
                    <i class="fa-light fa-up-right-from-square"></i>
                    <a href="{{ .href }}"> {{ .title }}</a>
                {{ else if eq .type "file" }}
                    <i class="fa-light fa-download"></i>
                    <a id="link-{{ .asset }}" href="{{ .href }}"> {{ .title }}</a>
                    {{ if .size }}
                    <span id="size-{{ .asset }}">({{ .size }})</span>
                    {{ end }}
                {{ else if eq .type "shell" }}
                    <pre><code>{{ .content }}</code></pre>
                {{ end }}
                </li>
            {{ end }}
            </ul>
            <a href="#" id="more-{{ .os }}">More...</a>
            <script>
                console.log('jQuery:', jQuery, $);
                const el = jQuery("#more-{{ .os }}");
                el.on('click', function() {
                    console.log('Clicked {{ .os }}');
                    jQuery("table-{{ .os }}").toggle();
                });
                el.hide();
            </script>
            <table id="table-{{ .os }}">
                <thead>
                    <tr>
                        <th></th>
                        {{ range .more_os }}
                        <th>{{ .display }}</th>
                        {{ end }}
                    </tr>
                </thead>
                <tbody>
                    {{ $more_os := .more_os }}
                    {{ range .more_artifact }}
                    <tr>
                        <td>{{ .display }}</td>
                        {{ range $more_os }}
                        <th><i class="fa-light fa-download"></i></th>
                        {{ end }}
                    </tr>
                    {{ end }}
                </tbody>
            </table>
      </div>
    </section>
