
{{ $jQuery := resources.Get "js/jquery.min.js" }}
{{ $scrollex := resources.Get "js/jquery.scrollex.min.js" }}
{{ $scrolly := resources.Get "js/jquery.scrolly.min.js" }}
{{ $browser := resources.Get "js/browser.min.js" }}
{{ $breakpoints := resources.Get "js/breakpoints.min.js" }}
{{ $util := resources.Get "js/util.js" }}
{{ $main := resources.Get "js/main.js" }}
{{ $github := resources.Get "js/github.js" }}
{{ $screenshots := resources.Get "js/screenshots.js" }}
{{ $owl := resources.Get "js/owl.carousel.min.js" }}
{{ $testimonials := resources.Get "js/testimonials.js" }}
{{ $sweetalert := resources.Get "js/sweetalert2.js" }}

{{ $js := slice $jQuery $scrollex $scrolly $browser $breakpoints $util $main $github $screenshots $owl $testimonials $sweetalert | resources.Concat "js/bundle.js" | minify }}

<!-- Scripts -->
<script src='{{ $js.RelPermalink }}'></script>

